@import 'base/libs';
@import 'base/fonts';
@import 'base/vars';
@import 'base/animation';

* {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin: 0;
}

.hidden {
    touch-action: none;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .5);
    z-index: 100;
    transition: all .5s;
    &_active {
        left: 0;
    }
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/nav-menu';
@import 'blocks/traditions';
@import 'blocks/interior';
@import 'blocks/menu';
@import 'blocks/tabs';
@import 'blocks/card';
@import 'blocks/advatages';
@import 'blocks/news';
@import 'blocks/restaurant';
@import 'blocks/btns';
@import 'blocks/footer';
@import 'blocks/humburger';

@import 'blocks/media';